<!--The content below is only a placeholder and can be replaced.-->

<a-scene>
  <a-entity camera="userHeight: 2" look-controls position="2 2 5" rotation="20 20 45">
      <a-entity cursor="fuse: true; fuseTimeout: 500"
        position="0 0 -1"
        geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
        material="color: black; shader: flat">
      </a-entity>
  </a-entity>
  <a-sky color="#BBDEFB"></a-sky>
  <a-gltf-model src="assets/models/windmill/scene.gltf" position="1 1 1" scale="0.001 0.001 0.001"></a-gltf-model>
  <a-entity id="box" cursor-listener geometry="primitive: box" material="color: blue" position="0 1 1"></a-entity>
  <a-ocean color="#283593" depth="100" width="100"></a-ocean>
</a-scene>

