.journal {
    position: absolute;
    height: 600px;
    width: 1000px;
    margin: 30px auto;
    left: 0;
    right: 0;
    background-color: #413124;
    padding: 20px;
    z-index: 10;
}

.journal .tabs {

}

.journal .tabs .tab {
    display: inline-block;
    background-color: #4b3d32;
    padding: 10px;
    color: #fff;
}

.journal .page {
    background-color: #fff;
    width: 100%;
    height: 90%;
    position: relative;
    color: #5b6460;
    padding: 20px;
}

.journal .page h1 {
    font-weight: 400;
    margin: 0;
}